<div class="post card">
  
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <p class="image is-48x48">
            <img src="http://www.hartvoordieren.nl/cms/tinymce/js/tinymce/plugins/image/uploads/FILE-20161003-08345H3N1VPZR7GH.jpg" alt="Twitter square">
          </p>
        </div>
        <div class="media-content">
          <p class="is-title">
            <strong><%= link_to post.poster.email %></strong>
          </p>
          <small><%= time_ago_in_words post.updated_at %> ago</small>
        </div>
      </div>
      <div class="content">
        <%= simple_format post.body %>
      </div>
    </div>

    <div class="card-footer">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <%= link_to fa_icon("thumps-up", text: "Like"), toggle_like_path(post_id: post.id), 
            class: "button is-white #{"is-liked" if current_user.liking?(post)}", method: "post" %>
          </div>
          <div class="level-item">
            <%= link_to fa_icon("comments", text: "Comment"), "/changeme", class: "button is-white" %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= post.likes.map {|e| e.user_name }.to_sentence %>
    </div>
  
</div>